.plus-icon-wrapper {
  margin: 0 auto;
  max-width: 300px;
  text-align: right;
}
.plus-icon-wrapper .plus-icon {
  width: 45px;
  height: 45px;
}
@media screen and (min-width: 1024px) {
  .plus-icon-wrapper {
    max-width: 660px;
  }
}
@media screen and (min-width: 2560px) {
  .plus-icon-wrapper {
    max-width: 1200px;
  }
  .plus-icon-wrapper .plus-icon {
    width: 65px;
    height: 65px;
  }
}
