.shopping-list h2 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #272727;
}
.shopping-list p {
  font-size: 2rem;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shopping-list ul {
  color: #545454;
  font-family: "Andika", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
