.new-list-form {
  text-align: left;
  max-width: 75%;
  margin: 0 auto;
}
.new-list-form span {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.new-list-form input {
  display: block;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  width: 100%;
}
.items {
  display: flex;
  align-items: center;
}
.items button {
  font-size: 1rem;
  margin-left: 5px;
}
