.new-list-form {
  text-align: left;
  max-width: 75%;
  margin: 0 auto;
}
.new-list-form span {
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
.new-list-form input {
  display: block;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  width: 100%;
}
.new-list-form ul {
  font-size: 1.1rem;
  padding-bottom: 15px;
}
.new-list-form small {
  color: #4a0700;
  display: block;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}
.new-list-form .delete-item-icon {
  margin-left: 25px;
}
.add-items {
  display: flex;
  align-items: center;
}
.add-items button {
  font-size: 1rem;
  margin-left: 5px;
}
@media screen and (min-width: 2560px) {
  .new-list-form span {
    font-size: 2.5rem;
  }
  .new-list-form input {
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
  }
  .new-list-form ul {
    font-size: 2rem;
    padding-bottom: 25px;
  }
  .add-items button {
    font-size: 1.5rem;
  }
}
