.shopping-lists-wrapper {
  max-width: 310px;
  margin: 0 auto;
  padding: 2.5rem 0;
}
.card {
  background-color: #f4f4f4;
  padding: 2rem;
  max-width: 20rem;
  margin: 0 auto 2rem;
  border: 2px dotted #baaeb3;
  border-radius: 5px;
}
.card h2 {
  font-size: 2rem;
}
.card p {
  font-size: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.card ul {
  font-size: 1.2rem;
}
.card button {
  background-color: #ad567e;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px;
  text-transform: uppercase;
}
.card button:hover {
  cursor: pointer;
}
.card button:active {
  background-color: #ae3e77;
}

@media screen and (min-width: 1024px) {
  .shopping-lists-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 740px;
  }
  .card {
    width: 20rem;
  }
}
