.shopping-list h2 {
  font-size: 2.5rem;
}
.shopping-list p {
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.shopping-list ul {
  font-size: 1.8rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.current-list-items {
  color: #ad567e;
}
.removed-list-items {
  text-decoration: line-through;
}
