/* global styles */
.App {
  text-align: center;
}
h2,
p {
  color: #272727;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
ul {
  color: #545454;
  font-family: "Andika", Arial, Helvetica, sans-serif;
}
.plus-icon {
  color: #ad567e;
}
.plus-icon:hover {
  cursor: pointer;
}
.plus-icon:active {
  color: #ae3e77;
}
button {
  background-color: #ad567e;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px;
  text-transform: uppercase;
}
button:hover {
  cursor: pointer;
}
button:active {
  background-color: #ae3e77;
}
/* options styles */
.options-wrapper {
  max-width: 90%;
  margin: 0 auto;
  text-align: right;
  padding-bottom: 1rem;
}
.x-mark-icon {
  color: #272727;
  width: 30px;
  height: 30px;
}
.x-mark-icon:hover {
  cursor: pointer;
}
